
h1 {
    font-family : serif, Didot;
    color : #D5AAE9;}

h2 {
    font-family : serif, Didot;
        color : #E7FFAC;}

body {
  background-color: #191c1e;
  color: white;
  font-size: 1.6rem;
  font-family: arial;
  margin: 0;
  padding: 3rem;}

p {
    text-indent : 2%;}

img {
    margin : 45px;}

figcaption {
    margin : 10px;
    up-margin : 20px;
    font-size : 1rem;
    font-style : italic;}



a {
  color : white;
  text-decoration: none;}

a:hover {
    color : white;
    text-decoration: underline;}

.tree-nav__item .tree-nav__item {
  margin-left: 2.4rem;}

summary {
  cursor: pointer;}

summary:hover {
text-decoration: underline;}

